.create-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.create-title {
  margin-top: 40px;
}

.create-form {
  width: 600px;
}

.create-form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.create-form-container label {
  font-weight: bold;
  font-size: 14px;
}

.create-form-container input[type=text],
.create-form-container textarea,
.create-form-container select {
  width: 100%;
  padding: 15px;
  margin: 10px 0 15px 0;
  border: none;
  background: #f1f1f1;
  border-radius: 4px;
}

.create-form-container input[type=text]:focus,
.create-form-container textarea:focus,
.create-form-container select:focus {
  background-color: #ddd;
  outline: none;
}

.create-form-container textarea {
  resize: vertical;
}

.create-form-container select {
  width: 130px;
}

.create-form-container .btn {
  background-color: lightseagreen;
  color: white;
  padding: 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0.8;
  font-weight: bold;
}

.create-form-container .btn:hover {
  opacity: 1;
}

.create-form-error {
  font-size: 14px;
  font-weight: bold;
  color: red;
  margin-bottom: 5px;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}