.delete-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.delete-title {
  margin-top: 40px;
}

.delete-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
}

.delete-message {
  font-weight: bold;
  margin-bottom: 20px;
}

.delete-subcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.delete-form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 15px;
}

.delete-form-container .btn-danger {
  background-color: coral;
  color: white;
  padding: 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0.8;
  font-weight: bold;
}

.delete-form-container .btn:hover {
  opacity: 1;
}

.delete-form-error {
  font-size: 14px;
  font-weight: bold;
  color: red;
  margin-bottom: 5px;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}