.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.home-subcontainer {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: 1fr;
  max-width: 1400px;
  margin: 0px 40px 40px 40px;
}

.post-link {
  color: black;
  text-decoration: none;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}